#plans-list-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.table-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.table-options button {
  cursor: pointer;
  margin-left: 1.2rem;
  background: transparent;
  border: 0;
}

.table-options button:hover {
  color: var(--color-danger-500);
}

.table-options a {
  color: var(--color-primary-100);
}

.table-options a:hover {
  color: var(--color-info-500);
}
