#users-list-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.users-list-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 80%;
  margin-bottom: 30rem;
}

.users-list-table table {
  border-collapse: collapse;
  width: 100%;
  align-self: center;
}

.users-list-table th, td {
  padding: 0.8rem;
  font-size: 1.8rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.users-list-table >div {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1.2rem;
  width: 100%;
  margin-left: auto;
  margin-top: 1.6rem;
}

.users-list-table div button {
  background: transparent;
  border: 0;
}

.users-list-table div p {
  font-size: 2.4rem;
  text-align: center;
}
