#users-list-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.users-list-table {
  border-collapse: collapse;
  align-self: center;
  width: 80%;
  margin-bottom: 30rem;
}

.users-list-table th, td {
  padding: 0.8rem;
  font-size: 1.8rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
