#users-list-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.table-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-options button {
  cursor: pointer;
  margin-left: 1.2rem;
  background: transparent;
  border: 0;
}

.table-options button:hover {
  color: var(--color-danger-500);
}

.table-options a {
  color: var(--color-primary-100);
}
.table-options a:hover {
  color: var(--color-info-500);
}

.table-pagination {
  font: 500 1.6rem Roboto;
  color: var(--color-primary-200);
}

.table-pagination svg,
img {
  size: 1.6rem;
}

.table-pagination select {
  font-size: 1.6rem;
  width: 600;
}
