#header-container {
  width: 100vw;
  height: 20vh;
}

#header-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0 2.4rem;
  overflow: hidden;
  background-color: #333;

  display: flex;
  align-items: center;
}

#header-container li {
  float: left;
}

#header-container li a {
  display: block;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#header-container li a:hover {
  background-color: #111;
}

.logout-field {
  height: 100%;
  margin-left: auto;
}

.logout-field button {
  background: transparent;
  border: none;
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
}

.logout-field svg {
  align-self: center;
  color: #fff;
  width: 2.4rem;
  height: 2.4rem;
}

.logout-field:hover {
  background-color: #111;
}
